.workspace {
    position: absolute;
    height: 1260px;
}
body {
    padding: 20px;
    color: ##FBE5D6;
    width: 80%;
    height: 1260px;
    margin: 0 auto;
    max-width: 700px;
}
.container {
    margin: 10 auto;
}
my_first_site {
    position: absolute;
    width: 520px;
    height: 25px;
    top: 80px;
    left: 110px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 23px;
    text-align: center;
    color: #404040;
    }
default_text {
    position: absolute;
    width: 800px;
    top: 140px;
    left: -30px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #404040;
    }
sticker1 {
    position: absolute;
    width: 400px;
    height: 370px;
    left: 170px;
    top: 400px;
    }
default_text1 {
    position: absolute;
    width: 610px;
    top: 830px;
    left: 65px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #404040;
    }
default_text2 {
    position: absolute;
    width: 660px;
    left: 40px;
    top: 1020px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #404040;
    }
libk {
    position: absolute;
    width: 150px;
    top: 960px;
    left: 295px;
    font-family: 'Ubuntu';
    font-style: italic;
    font-weight: 400;
    font-size: 36px;
    line-height: 16px;
    /* identical to box height */

    text-align: center;
    letter-spacing: 0.01em;

    color: #404040;
    }
dif_text1 {
    position: absolute;
    width: 260px;
    left: -5px;
    height: 30px;
    top: 1200px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FF0000;
    }
dif_text2 {
    position: absolute;
    width: 110px;
    left: 255px;
    height: 30px;
    top: 1196px;

    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #2400FF;
    }
dif_text3 {
    position: absolute;
    width: 200px;
    height: 30px;
    left: 365px;
    top: 1199px;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #00D1FF;
    }
dif_text4 {
    position: absolute;
    width: 130px;
    height: 30px;
    left: 570px;
    top: 1201.5px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.01em;

    color: #FF00E5;
    }
figure1 {
    position: absolute;
    width: 60px;
    left: 90px;
    height: 60px;
    top: 1150px;
    }
figure2 {
    position: absolute;
    width: 60px;
    left: 320px;
    height: 60px;
    top: 1150px;
    }
figure3 {
    position: absolute;
    width: 60px;
    left: 550px;
    height: 60px;
    top: 1150px;
    }