body {
    width: 360px;
    height: 800px;
}
.workspace {
    width: 360px;
    height: 800px;
    background: #FBE5D6;
}
my_first_site {
    position: absolute;
    width: 176px;
    height: 23px;
    left: 92px;
    top: 32px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #404040;
    }
default_text {
    position: absolute;
    width: 268px;
    height: 64px;
    left: 46px;
    top: 97px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: #404040;
    }

