.workspace {
    position: absolute;
    left: 90px;
    width: 800px;
    height: 1000px;
}
my_first_site {
    position: absolute;
    width: 520px;
    height: 25px;
    left: 140px;
    top: 80px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 23px;
    text-align: center;
    color: #404040;
    }
default_text {
    position: absolute;
    left: 0px;
    width: 800px;
    top: 140px;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.01em;
    color: #404040;
    }
sticker1 {
    position: absolute;
    width: 400px;
    height: 370px;
    left: 200px;
    top: 400px;
}
