<!DOCTYPE html>
<html lang="ru">
{% load static %}
<head>
<<<<<<<< HEAD:website/templates/main/index.html
    <link rel="stylesheet" href="{% static 'main/css/main_page.css' %}">
========
    <link rel="stylesheet" href="{% static 'main/css/main_page.css' %}" type="text/css">
>>>>>>>> 30cfa8fc2ff08109e75d5a0dd969fd695770a59e:templates/main/index.html
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Мой сайт</title>
</head>
<body bgcolor="#FBE5D6">
    <div class="workspace">
        <my_first_site>Наш первый сайт</my_first_site>
        <default_text>В создании этого сайта мы используем HTML и CSS для frontend-части сайта,
        язык программирования python и фреймворк django для backend-части</default_text>
    </div>
</body>
</html>